body, html {
  width: 100%;
  word-wrap: break-word;
  letter-spacing: 0.2;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.i {
  &-clearfix {
  	zoom: 1; /* For IE 6/7 (trigger hasLayout) */

      &:before, &:after {
  		content: "";
    	    display: table;
      }

      &:after {
  		clear: both;
    	}
  }
}