// include extend-blocks
@import "extend/_excess";
@import "extend/_reset";
@import "extend/_const";

// Include blocks
@import "block/_wrapper";
@import "block/_header";
@import "block/_logotype";
@import "block/_profile";
//@import "block/_button";
//@import "block/_preloader";

// Note
@import "block/_note";

// some code
html, body {
	font-size: 16px;
	line-height: 24px;
	font-family: $serif;
}


.app-notes {
	width: 100%;
	padding: 10px 0 40px;
}


.list {
	font-size: 0;
}


.control {
	text-align: center;
}
