.note {
	width: 20%;
	display: inline-block;
	padding: 15px 10px;
	font-size: 16px;
	vertical-align: top;
	box-sizing: border-box;
	height: 300px;
	cursor: pointer;
	color: #455a64;
	position: relative;
	transition: 0.4s ease;
	
	&-data {
		height: 30px;
		line-height: 30px;
		color: #263238;
		
		&__date {
			text-align: right;
			font-weight: 700;
			font-size: 0.75em;
		}
	}
	
	&-control {
		width: 100%;
		height: 100%;	
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		font-size: 40px;
		color:#616161;
		background: rgba(white, 0.8);
		padding: 118px 0 0;
		display: none;
		transition: 0.4s ease;
	}
	

	
	&-inner {
		position: relative;
		width: 100%;
		height: 100%;
		border: 1px solid #cfd8dc;
		padding: 4px 8px;
		background: #fff;
		overflow: hidden;
		transition: 0.4s ease;
		
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 70px;
			width: 100%;
			background: rgba(255,255,255,0.01);
			background: -moz-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.01)), color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(252,252,252,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0 );	
		}
		
			// background-color: rgba(255,255,255,0.01);
			// background: @include filter-gradient(#ffffff, #ffffff, vertical);
			// background: @include background-image(linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%));
		
		}
		
	
		&:hover {
			.note-control {
				display: block;
			}
			
			.note-inner {
				box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
				border: 0;
			}
		}
		
		// note with style for adding new note
	&-add {
		line-height: 240px;
		color:rgba(#1e88e5, 0.65);
		

		&__input {
			padding: 10px 0;
			width: 100%;
			height: 100%;
			font-family: $serif;
			font-size: 18px;
			line-height: 22px;
			border: none;
			color: #575757;
			resize: none;
		}
		
		&__submit {
			position:  absolute;
			padding: 0 10px;
			border: 2px solid #eee;
			border-radius: 100%;
			height: 40px;
			line-height: 40px;
			bottom: 10px;
			right: 10px;
			text-align: center;
			background:#2196f3;
			color: #fff;
			font-size: 20px;
			z-index: 1000;
			transition: 0.4s ease;	
			
			&:hover {
				background: #1976d2;
			}
			
			&:active {
				background: #0d47a1;
			}
		}
		
		.note-inner {
			border-color: rgba(#1976d2, 0.5);
			
			&:hover {
				box-shadow: 0 0 4px 2px rgba(#1976d2, .4);
			}
			
			&:after {
				display: none;
			}	
		}
		
		&:active, &:focus, &:hover {
				.note-add__ph {
					display: 0;
				}
			}
	}
}