.note {
	width: 25%;
	display: inline-block;
	padding: 15px 10px;
	font-size: 16px;
	cursor: pointer;
	color: #455a64;
	vertical-align: top;
	box-sizing: border-box;
	height: 300px;
	position: relative;
	transition: 0.4s ease;
	
	&-data {
		height: 30px;
		line-height: 30px;
		color: #263238;
		
		&__date {
			text-align: right;
			font-weight: 700;
			font-size: 0.75em;
		}
	}
	
	&-control {
		width: 100%;
		height: 30px;	
		position: absolute;
		bottom: 0;
		top: 8px;
		font-size: 20px;
		color:#dd2c00;
		text-align: left;
		display: none;
		transition: 0.4s ease;
	}
	

	
	&-inner {
		position: relative;
		width: 100%;
		height: 100%;
		border: 1px solid #cfd8dc;
		padding: 4px 8px;
		background: #fff;
		overflow: hidden;
		transition: 0.4s ease;
		
		&:after {
			content: "";
			transition: 0.4s ease;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 70px;
			width: 100%;
			background: rgba(255,255,255,0.01);
			background: -moz-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.01)), color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(252,252,252,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0 );	
		}
		
			// background-color: rgba(255,255,255,0.01);
			// background: @include filter-gradient(#ffffff, #ffffff, vertical);
			// background: @include background-image(linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%));
		
		}
		
	
		&:hover {
			.note-control {
				display: block;
			}
			
			.note-inner {
				-webkit-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.64);
				-moz-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.64);
				box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.64);
				border: 0;
				min-height: 100%;
				height: auto;
				z-index: 1000;
				padding-bottom: 10px;
				
				&:after {
					opacity: 0;
				}
			}
		}
		
	// note with style for adding new note
	&-add {
		line-height: 240px;
		color:rgba(#1e88e5, 0.65);
		

		&__input {
			padding: 10px 0;
			width: 100%;
			height: 100%;
			font-family: $serif;
			font-size: 18px;
			line-height: 22px;
			border: 0;
			color: #575757;
			resize: none;
			
			&:focus {
				border: 0;
				outline: none;
				-moz-appearance: none;
			}
		}
		
		&__submit {
			position:  absolute;
			padding: 0 10px;
			border: 2px solid #eee;
			border-radius: 100%;
			height: 40px;
			line-height: 40px;
			bottom: 10px;
			right: 10px;
			text-align: center;
			background:#2196f3;
			color: #fff;
			font-size: 20px;
			z-index: 1000;
			transition: 0.4s ease;	
			
			&_scroll {
				position: fixed;
				display: none;
				width: 80px;
				height: 80px;
				line-height: 80px;
				font-size: 40px;
				-webkit-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.64);
				-moz-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.64);
				box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.64);
			}
			
			&:hover {
				background: #1976d2;
			}
			
			&:active {
				background: #0d47a1;
			}
		}
		
		&__amount {
			position: absolute;
			left: 0;
			bottom: 0;
			font-size: 20px;
			height: 60px;
			color: #000;
			line-height: 60px;
			background: #fff;
			padding: 0 10px;
		}
		
		.note-inner {
			border-color: rgba(#1976d2, 0.5);
			
			&:hover {
				box-shadow: 0 0 4px 2px rgba(#1976d2, .4);
			}
			
			&:after {
				display: none;
			}	
		}
	
		
		&:active, &:focus, &:hover {
			.note-add__ph {
				display: 0;
			}
			
			.note-inner {
				height: 100%;
			}
		}
	}
	
	  
	@media screen and (max-width: 980px) {
  	  width: 33.3333333%;
 	}
	  
	@media screen and (max-width: 768px) {
  	  width: 50%;
 	}
	  
	@media screen and (max-width: 480px) {
  	  width: 100%;
	  height: 120px;
	  padding: 0;
		
		&-add {
			height: 200px;
			
			&:hover {
				height: 350px;
			}
		
		}
 	}

}